html {
    scroll-behavior: smooth;
  }

body {
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
  }

.nyeusi {
    color: white !important;
}

.header-sec {
    padding: 30px;
    height: 100%;
}

.yenyewe-sec {
    background: url(../img/internet-abstract.jpg) center center no-repeat;
    background-size: cover;
}
.about-sec {
    padding: 100px;
    background: url(../img/10.jpg) center center no-repeat;
    background-size: cover;
    height: 100%;
}

.portfolio-sec {
    padding: 100px;
    background: url(../img/markus-spiske.jpg) center center no-repeat;
    background-size: cover;
    height: 100%;
}

.about-me {
    padding: 100px;
}

.prof-pic {
    width: 190px;
    border-radius: 50%;
}

.l-text {
    font-size: 30px;
}

.m-text {
    font-size: 25px;
}

.page-section {
    padding: 10px;
}

#navbar-icon-color {
    background-color: whitesmoke;
}

#skill-sec {
    margin-bottom: 25px;
}

.m-t-20 {
    margin-top: 20px;
}

#futa {
    position: fixed;
    bottom: 0;
    background: #222222;
}

#futa p {
    color: blanchedalmond;
    font-family: 'Roboto Slab', serif;
    margin-top: 25px;
    line-height: 50px;
}

#futa p.social a,i {
    margin-left: 10px;
    color: white;
    width: 20px;
    font-size: xx-large;
}

.copyright {
    text-align: right;
}

#space {
    padding: 50px;
}

.abaut {
    padding: 30px;
    font-size: initial;
}

.projects {
    width: 100px;
}